device-detector==0.10
geoip2==4.4.0
mysqlclient==2.0.3
requests==2.26.0
reverse_geocoder==1.4
-e git+https://github.com/scieloorg/scielo_log_validator.git@0.2.1#egg=scielo_log_validator
sqlalchemy==1.4.26
wget==3.2
